.ul-left {
    margin-left: 50px;
}

.navbar-nav li {
    font-size: 14px!important;
    color: #fff!important;
}

.navbar-nav li a {
    margin-right: 15px!important;
    /* padding-right: 25px!important; */
    padding-left: 15px!important;
    padding-right: 15px!important;
    font-weight: 600;
    text-align: center!important;
    /* color: #fff!important; */
}

.navbar-nav li a:hover {
    background-color: rgb(78, 78, 78);
    color: #fff;
    border-radius: 4px;
}

.navbar .bg-trans {
    background-color: transparent!important;
}

.ul-right .fa {
    margin-right: 6px;
}


/* .navbar {
    border-bottom: 1px solid rgb(77, 77, 77);
} */

.navbar .navbar-brand {
    margin-left: 0px;
}

.space-d {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*  */

.name label {
    font-size: 12px;
    font-weight: 600;
}

.name input {
    font-size: 16px;
}

.grey {
    background-color: #f8fafb;
}

.consult-x1 {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto!important;
    width: 70%!important;
}

.space-white {
    padding-top: 40px;
    padding-bottom: 40px;
}

.con-fm h2 {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}

.con-fm {
    padding-bottom: 20px;
}

.btn-send {
    background-color: #1d4386;
    padding: 10px 180px;
    color: #fff;
    display: block;
    font-size: 14px;
}

.con-excess {
    text-align: center!important;
}

.btn-login {
    background-color: #1d4386;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
}

.btn-register {
    background-color: #f8fafb;
    color: #343a3f;
    font-size: 14px;
    padding: 10px 30px;
}

.con-fig {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.con-excess .f-got {
    font-size: 16px!important;
    color: #1d4386;
    padding-top: 15px;
}

.con-excess .login {
    font-size: 16px!important;
    color: #8ed851;
    padding-top: 10px;
}

.wel-job h2 {
    font-size: 22px!important;
    padding-bottom: 14px;
}

.wel-job img {
    text-align: center!important;
    margin-bottom: 30px;
    width: 60%;
}

.wel-job {
    padding-left: 20px;
    padding-right: 20px;
}

.pr-jb {
    text-align: center!important;
}

.ul-media li {
    font-size: 14px;
    padding-bottom: 5px;
    list-style: none!important;
}

.ul-media {
    padding-bottom: 10px;
}

.ul-media .fa {
    color: #1d4386!important;
    margin-right: 15px;
    font-size: 14px;
}