<section class="fot-main x1">
    <div class="container">
        <div class="row main-x1">
            <div class="col-md-6">
                <ul class="ul-footer">
                    <li class="active">About</li>
                    <li>Myexpertskills LTD is a Skill-specific job board, where recruiters can find job-seekers based on certain narrowed-down skills as required</li>
                    <li>We are duly registered in England & Wales with Company number 11685912.</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="ul-footer">
                    <li class="active">Company</li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Our Blog</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="ul-footer">
                    <li class="active">Services</li>
                    <li><a href="#">Post a Job</a></li>
                    <li><a href="#">Apply for a Job</a></li>
                </ul>
            </div>
        </div>
        <!--  -->

    </div>
</section>

<section class="fot-main">
    <div class="container">
        <div class="row cent-ft">
            <div class="col-md-12 main-x2">
                <h2>Follow us on</h2>
                <ul class="main-x3">
                    <li><a href="#"><i class="fa fa-facebook bk"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter tw"></i></a></li>
                    <li><a href=""><i class="fa fa-google gg"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin ln"></i></a></li>
                </ul>
                <p>© Copyright 2019 by <span>MyExpertSkills</span>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>