<nav class="navbar navbar-expand-lg navbar-light bg-light bg-trans bg-transparent">
    <div class="container space-d">
        <a class="navbar-brand" routerLink="/"><img src="{{ logo2 }}" alt="logo" class="img-responsive"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ul-left">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/consultant">Hire a Profile Consultant</a>
                </li>
            </ul>
            <ul class="navbar-nav ul-right">
                <li class="nav-item">
                    <a class="nav-link disabled" routerLink="/recruiter">Recruiter Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" routerLink="/login"><i class="fa fa-lock"></i>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" routerLink="/register"> <i class="fa fa-lock"></i>Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="grey">
    <div class="container">
        <div class="row details-con">
            <div class="col-md-4">
                <h2>Information</h2>
                <div class="con-hello">
                    <p>Say hello to us. Let us know how we can be of help to you.</p>

                    <p class="fa fa-location">130, Old Street, London,</p>
                    <p>EC1V9BD England.</p>
                    <p class="fa fa-phone">+44 7443 076948</p>

                    <p class="">info@myexpertskills.com</p>
                </div>

                <h2>Social Media</h2>

            </div>
            <div class="col-md-8">
                <div class="con-fm">
                    <h2>Contact Form</h2>
                </div>
                <div class="form-group name">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="form-group email">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
                <button class="btn btn-send">Send Message</button>
            </div>
        </div>
    </div>
</section>